<table [class.absoulte]="absoulte" [ngStyle]="vStyle">
    <colgroup></colgroup>
    <thead>
        <th>项目</th>
        <th>右眼OD</th>
        <th>左眼OS</th>
        <th>检查者</th>
    </thead>
    <tbody>
        <tr>
            <td>视力</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>屈光度[球镜/柱镜/轴向]</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>眼压</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>前房深度</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>后节OCT完成</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>后节OCT阅片结果</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>眼底照相完成</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>阅片诊断结果</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>裂隙灯诊断</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>诊断依据</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>