// @import "~ng-zorro-antd/ng-zorro-antd.min.css";

/*---------------------------atom style------------------------------------*/
@for $i from 10 to 30 {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }
}

@for $i from 10 to 30 {
  .mr-#{$i} {
    margin-right: #{$i}px !important;
  }
}

@for $i from 10 to 30 {
  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }
}

@for $i from 10 to 30 {
  .ml-#{$i} {
    margin-left: #{$i}px !important;
  }
}

.absoulte {
  position: absolute;
}
