<div class="contextmenu" *ngIf="menuShow" [style.top.px]="menuTop" [style.left.px]="menuLeft">
    <ul>
        <ng-container *ngIf="componentDataService.curComponent; else pasteTmp">
            <li (click)="copy()">复制</li>
            <li (click)="paste()">粘贴</li>
            <li (click)="cut()">剪切</li>
            <li (click)="deleteComponent()">删除</li>
            <li (click)="topComponent()">置顶</li>
            <li (click)="bottomComponent()">置底</li>
            <li (click)="upComponent()">上移</li>
            <li (click)="downComponent()">下移</li>
        </ng-container>
        <ng-template #pasteTmp>
            <li (click)="paste()">粘贴</li>
        </ng-template>
    </ul>
</div>