.textarea {
  overflow: hidden;
  resize: none;
  border: none !important;
}

.disabled {
  border: none !important;
}

.text {
  border: 1px solid #ddd;
  padding: 5px 10px;
  white-space: normal;
  word-break: break-all;
}
