<div class="bg" *ngIf="isShowPreview">
    <i nz-icon nzType="close" nzTheme="outline" class="close" (click)="close()"></i>
    <div class="canvas-container">
        <div class="canvas"
            [ngStyle]="{ width: componentDataService.canvasStyleData.width + 'px', height: componentDataService.canvasStyleData.height + 'px' }">

                <ng-container *ngFor="let item of componentDataService.componentData">
                    <div class="component-wrapper" [ngStyle]="{top: item.style.top+ 'px',left:item.style.left+ 'px' }">
                        <Component-wrapper [config]="item">
                        </Component-wrapper>
                    </div>
                </ng-container>
        </div>
    </div>
</div>