<div class="attr-list">
    <div nz-row class="mb-10">
        <div nz-col nzSpan="24" class="mb-10">标签名</div>
        <div nz-col nzSpan="24">
            <input nz-input disabled [(ngModel)]="componentDataService.curComponent.label">
        </div>
    </div>
    <div nz-row class="mb-10">
        <div nz-col nzSpan="24" class="mb-10">标识</div>
        <div nz-col nzSpan="24">
            <input nz-input [(ngModel)]="componentDataService.curComponent.description">
        </div>
    </div>
    <div nz-row *ngFor="let key of styleKeys" class="mb-10">
        <div nz-col nzSpan="24" class="mb-10">{{map[key]}}</div>
        <div nz-col nzSpan="24">
            <div [ngSwitch]="key">
                <div *ngSwitchCase="'borderColor'"><input type="color"
                        [(ngModel)]="componentDataService.curComponent.style[key]"></div>
                <div *ngSwitchCase="'color'"><input type="color"
                        [(ngModel)]="componentDataService.curComponent.style[key]"></div>
                <div *ngSwitchCase="'backgroundColor'"><input type="color"
                        [(ngModel)]="componentDataService.curComponent.style[key]"></div>
                <div *ngSwitchCase="'textAlign'">
                    <nz-select [(ngModel)]="componentDataService.curComponent.style[key]" style="width: 100%;">
                        <nz-option [nzValue]="item.value" [nzLabel]="item.label" *ngFor="let item of options">
                        </nz-option>
                    </nz-select>
                </div>
                <div *ngSwitchDefault>
                    <input nz-input type="number" [(ngModel)]="componentDataService.curComponent.style[key]">
                </div>
            </div>
        </div>
    </div>
    <div nz-row
        *ngIf="componentDataService.curComponent && !excludes.includes(componentDataService.curComponent.component)">
        <div nz-col nzSpan="24" class="mb-10">内容</div>
        <div nz-col nzSpan="24">
            <div [ngSwitch]="componentDataService.curComponent.component">
                <div *ngSwitchCase="'v-radio'">
                    <div class="radio-items">
                        <div class="radio-item-group"
                            *ngFor="let radio of componentDataService.curComponent.componentData; index as i">
                            <input type="text" nz-input [(ngModel)]="radio.value">
                            <i nz-icon nzType="delete" class="ml-10" (click)="deleteRadio(i)"></i>
                        </div>
                        <button nz-button nzBlock nzType="primary" (click)="addRadio()">Add</button>
                    </div>
                </div>
                <div *ngSwitchCase="'v-select'">
                    <div class="radio-items">
                        <div class="radio-item-group"
                            *ngFor="let radio of componentDataService.curComponent.componentData; index as i">
                            <input type="text" nz-input [(ngModel)]="radio.value">
                            <i nz-icon nzType="delete" class="ml-10" (click)="deleteRadio(i)"></i>
                        </div>
                        <button nz-button nzBlock nzType="primary" (click)="addRadio()">Add</button>
                    </div>
                </div>
                <div *ngSwitchDefault>
                    <textarea nz-input [disabled]="componentDataService.curComponent.isBField"
                        [(ngModel)]="componentDataService.curComponent.propValue"
                        [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                </div>
            </div>

        </div>
    </div>
</div>