<div (click)="handleClick()" class="preview-component">
    <!-- <component class="conponent" :is="config.component" :style="getStyle(config.style)" :propValue="config.propValue" /> -->
    <ng-container [ngSwitch]="config.component">
        <ng-container *ngSwitchCase="'v-button'">
            <v-button [config]="config" [absoulte]="true" [vStyle]="getComponentStyle(config.style)">
            </v-button>
        </ng-container>
        <ng-container *ngSwitchCase="'v-text'">
            <v-text [propValue]="config.propValue" [absoulte]="true" [vStyle]="getComponentStyle(config.style)">
            </v-text>
        </ng-container>
        <ng-container *ngSwitchCase="'v-radio'">
            <v-radio class="component" [absoulte]="true" [config]="config" [vStyle]="getComponentStyle(config.style)">
            </v-radio>
        </ng-container>
        <ng-container *ngSwitchCase="'v-table'">
            <v-table class="component" [absoulte]="true" [config]="config" [vStyle]="getComponentStyle(config.style)">
            </v-table>
        </ng-container>
        <ng-container *ngSwitchCase="'v-picture'">
            <v-picture class="component" [absoulte]="true" [config]="config" [vStyle]="getComponentStyle(config.style)">
            </v-picture>
        </ng-container>
        <ng-container *ngSwitchCase="'v-textarea'">
            <v-textarea class="component" [config]="config" [vStyle]="getComponentStyle(config.style)">
            </v-textarea>
        </ng-container>
        <ng-container *ngSwitchCase="'v-select'">
            <v-select class="component" [config]="config" [vStyle]="getComponentStyle(config.style)">
            </v-select>
        </ng-container>
        <ng-container *ngSwitchCase="'v-album'">
            <v-album class="component" [absoulte]="true" [config]="config" [vStyle]="getComponentStyle(config.style)">
            </v-album>
        </ng-container>
        <ng-container *ngSwitchDefault>output2</ng-container>
    </ng-container>
</div>