<div class="home">
    <toolbar></toolbar>

    <main>
        <!-- 左侧组件列表 -->
        <section class="left">
            <component-list></component-list>
        </section>
        <!-- 中间画布 -->
        <section class="center">
            <div class="content" (drop)="handleDrop($event)" (dragover)="handleDragOver($event)"
                (click)="deselectCurComponent()">
                <editor></editor>
            </div>
        </section>
        <!-- 右侧属性列表 -->
        <section class="right">
            <!-- <el-tabs v-model="activeName">
                <el-tab-pane label="属性" name="attr">
                    <AttrList v-if="curComponent" />
                    <p v-else class="placeholder">请选择组件</p>
                </el-tab-pane>
                <el-tab-pane label="动画" name="animation">
                    <AnimationList v-if="curComponent" />
                    <p v-else class="placeholder">请选择组件</p>
                </el-tab-pane>
                <el-tab-pane label="事件" name="events">
                    <EventList v-if="curComponent" />
                    <p v-else class="placeholder">请选择组件</p>
                </el-tab-pane>
            </el-tabs> -->
            <nz-tabset class="tabset">
                <nz-tab nzTitle="属性">
                    <Attr-list *ngIf="!!componentDataService.curComponent"></Attr-list>
                </nz-tab>
                <nz-tab nzTitle="Tab 2">
                    Content of Tab Pane 2
                </nz-tab>
                <nz-tab nzTitle="Tab 3">
                    Content of Tab Pane 3
                </nz-tab>
            </nz-tabset>
        </section>
    </main>
</div>